body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://iili.io/HkXZnmQ.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:left;
  font-size:20px;
  color:white;
  margin-bottom:0;
}